<div>
    <h2 class="center">Formulario</h2>
    <div class="row">
        <div class="col-md-6">
            <label>Nombre del libro</label>
        </div>

        <div class="col-md-6">
            <input type="text" maxlength="150" id="nombreLibro" name="nombreLibro" required [(ngModel)]="dataLibros.nombreLibro">
        </div>

    </div>
    <div class="row">
        <div class="col-md-6">
            <label>Descripcion</label>
        </div>

        <div class="col-md-6">
            <input type="text" maxlength="300" id="descripcion" name="descripcion" required [(ngModel)]="dataLibros.descripcionLibro">
            <span></span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <label>Autor</label>
        </div>

        <div class="col-md-6">
            <input type="text" maxlength="150" required id="autor" name="autor" required [(ngModel)]="dataLibros.autor">
            <span></span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <label>Fecha de publicación</label>
        </div>

        <div class="col-md-6">
            <input type="date" name="fecha" id="fecha" min="2010-08-12" name="fecha" required [(ngModel)]="dataLibros.fecha">
            <span></span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <label>Numero de ejemplares</label>
        </div>

        <div class="col-md-6">
            <input type="text" minlength="1" maxlength="150" required (keypress)="kPNumeros($event)" id="numEjemplares" name="numEjemplares" required [(ngModel)]="dataLibros.numEjemplares">
            <span></span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <label>Costo</label>
        </div>

        <div class="col-md-6">

            <input type="text" maxlength="150" required (keypress)="kPNumeros($event)" id="costo" name="costo" required [(ngModel)]="dataLibros.costo">
            <span></span>
        </div>
    </div>
</div>

<button *ngIf="bloqueadorBotonAgregar" (click)="agregar()" class="btn btn-dark center">Agregar</button>
<button *ngIf="!bloqueadorBotonAgregar" (click)="modificar()" class="btn btn-dark center">Modificar</button>


<div>
    <table id="resultados" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Nombre del Libro</th>
                <th>Descripcion</th>
                <th>Autor</th>
                <th>Fecha</th>
                <th># Ejemplares</th>
                <th>Costo</th>
                <th>Gestion</th>
            </tr>
            <tr>
                <th><select [(ngModel)]="busqueda" (click)="imprimir()">
                    <option value="Contiene">Contiene</option>
                    <option value="NoContiene">No Contiene</option>
                    <option value="Igual">Igual</option>
                    <option value="NoIgual">No Igual</option>
                  </select>
                    <input *ngIf="busqueda === 'Contiene'" type="text" class="form-control" name="searchStringPun" [(ngModel)]="busquedaContiene" placeholder="contiene">
                    <input *ngIf="busqueda === 'NoContiene'" type="text" class="form-control" name="searchStringPun" [(ngModel)]="busquedaNoContiene" placeholder="No contiene">
                    <input *ngIf="busqueda === 'Igual'" type="text" class="form-control" name="searchStringPun" [(ngModel)]="busquedaIgual" placeholder="Igual">
                    <input *ngIf="busqueda === 'NoIgual'" type="text" class="form-control" name="searchStringPun" [(ngModel)]="busquedaNoIgual" placeholder="No Igual">
                </th>
                <th><select [(ngModel)]="busquedaDescripcion" (click)="imprimir()">
                    <option value="Contiene">Contiene</option>
                    <option value="NoContiene">No Contiene</option>
                    <option value="Igual">Igual</option>
                    <option value="NoIgual">No Igual</option>
                 </select>
                    <input *ngIf="busquedaDescripcion === 'Contiene'" type="text" class="form-control" name="searchStringPun" [(ngModel)]="busquedaContieneDescripcion" placeholder="contiene">
                    <input *ngIf="busquedaDescripcion === 'NoContiene'" type="text" class="form-control" name="searchStringPun" [(ngModel)]="busquedaNoContieneDescripcion" placeholder="No contiene">
                    <input *ngIf="busquedaDescripcion === 'Igual'" type="text" class="form-control" name="searchStringPun" [(ngModel)]="busquedaIgualDescripcion" placeholder="Igual">
                    <input *ngIf="busquedaDescripcion === 'NoIgual'" type="text" class="form-control" name="searchStringPun" [(ngModel)]="busquedaNoIgualDescripcion" placeholder="No Igual">
                </th>
                <th><select [(ngModel)]="busquedaAutor" (click)="imprimir()">
                    <option value="Contiene">Contiene</option>
                    <option value="NoContiene">No Contiene</option>
                    <option value="Igual">Igual</option>
                    <option value="NoIgual">No Igual</option>
                  </select>
                    <input *ngIf="busquedaAutor === 'Contiene'" type="text" class="form-control" name="searchStringPun" [(ngModel)]="busquedaContieneAutor" placeholder="contiene">
                    <input *ngIf="busquedaAutor === 'NoContiene'" type="text" class="form-control" name="searchStringPun" [(ngModel)]="busquedaNoContieneAutor" placeholder="No contiene">
                    <input *ngIf="busquedaAutor === 'Igual'" type="text" class="form-control" name="searchStringPun" [(ngModel)]="busquedaIgualAutor" placeholder="Igual">
                    <input *ngIf="busquedaAutor === 'NoIgual'" type="text" class="form-control" name="searchStringPun" [(ngModel)]="busquedaNoIgualAutor" placeholder="No Igual">
                </th>
                <th><select [(ngModel)]="busquedaFecha" (click)="imprimir()">
                    <option value="Contiene">Contiene</option>
                    <option value="NoContiene">No Contiene</option>
                    <option value="Igual">Igual</option>
                    <option value="NoIgual">No Igual</option>
                 </select>
                    <input *ngIf="busquedaFecha === 'Contiene'" type="text" class="form-control" name="searchStringPun" [(ngModel)]="busquedaContieneFecha" placeholder="contiene">
                    <input *ngIf="busquedaFecha === 'NoContiene'" type="text" class="form-control" name="searchStringPun" [(ngModel)]="busquedaNoContieneFecha" placeholder="No contiene">
                    <input *ngIf="busquedaFecha === 'Igual'" type="text" class="form-control" name="searchStringPun" [(ngModel)]="busquedaIgualFecha" placeholder="Igual">
                    <input *ngIf="busquedaFecha === 'NoIgual'" type="text" class="form-control" name="searchStringPun" [(ngModel)]="busquedaNoIgualFecha" placeholder="No Igual">
                </th>
                <th><select [(ngModel)]="busquedaNumEjemplares" (click)="imprimir()">
                    <option value="Contiene">Contiene</option>
                    <option value="NoContiene">No Contiene</option>
                    <option value="Igual">Igual</option>
                    <option value="NoIgual">No Igual</option>
                  </select>
                    <input *ngIf="busquedaNumEjemplares === 'Contiene'" type="text" class="form-control" name="searchStringPun" [(ngModel)]="busquedaContieneNumEjemplares" placeholder="contiene">
                    <input *ngIf="busquedaNumEjemplares === 'NoContiene'" type="text" class="form-control" name="searchStringPun" [(ngModel)]="busquedaNoContieneNumEjemplares" placeholder="No contiene">
                    <input *ngIf="busquedaNumEjemplares === 'Igual'" type="text" class="form-control" name="searchStringPun" [(ngModel)]="busquedaIgualNumEjemplares" placeholder="Igual">
                    <input *ngIf="busquedaNumEjemplares === 'NoIgual'" type="text" class="form-control" name="searchStringPun" [(ngModel)]="busquedaNoIgualNumEjemplares" placeholder="No Igual">
                </th>
                <th>
                    <select [(ngModel)]="busquedaCosto" (click)="imprimir()">
                    <option value="Contiene">Contiene</option>
                    <option value="NoContiene">No Contiene</option>
                    <option value="Igual">Igual</option>
                    <option value="NoIgual">No Igual</option>
                
                </select>
                    <input *ngIf="busquedaCosto === 'Contiene'" type="text" class="form-control" name="searchStringPun" [(ngModel)]="busquedaContieneCosto" placeholder="contiene">
                    <input *ngIf="busquedaCosto === 'NoContiene'" type="text" class="form-control" name="searchStringPun" [(ngModel)]="busquedaNoContieneCosto" placeholder="No contiene">
                    <input *ngIf="busquedaCosto === 'Igual'" type="text" class="form-control" name="searchStringPun" [(ngModel)]="busquedaIgualCosto" placeholder="Igual">
                    <input *ngIf="busquedaCosto === 'NoIgual'" type="text" class="form-control" name="searchStringPun" [(ngModel)]="busquedaNoIgualCosto" placeholder="No Igual">
                </th>
                <th>

                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of dataLibros2 | contiene: busquedaContiene | noContiene:busquedaNoContiene  | contieneNumEjemplares:busquedaContieneNumEjemplares 
            | contieneAutor:busquedaContieneAutor | contieneCosto:busquedaContieneCosto | contieneFecha:busquedaContieneFecha | contieneDescripcion: busquedaContieneDescripcion 
            | noContiene:busquedaNoContiene  | noContieneNumEjemplares:busquedaNoContieneNumEjemplares | noContieneDescripcion: busquedaNoContieneDescripcion
            | noContieneAutor:busquedaNoContieneAutor | noContieneCosto:busquedaNoContieneCosto | noContieneFecha:busquedaNoContieneFecha | igual:busquedaIgual 
            | igualNumEjemplares:busquedaIgualNumEjemplares | igualDescripcion: busquedaIgualDescripcion | igualAutor:busquedaIgualAutor | igualCosto:busquedaIgualCosto 
            | igualFecha:busquedaIgualFecha | igualNo: busquedaNoIgual | igualNoNumEjemplares:busquedaNoIgualNumEjemplares | igualNoDescripcion: busquedaNoIgualDescripcion 
            | igualNoAutor:busquedaNoIgualAutor | igualNoCosto:busquedaNoIgualCosto | igualNoFecha:busquedaNoIgualFecha">
                <td>{{data.nombreLibro}}</td>
                <td>{{data.descripcion}}</td>
                <td>{{data.autor}}</td>
                <td>{{data.fechaPublicacion}}</td>
                <td>{{data.numeroEjemplares}}</td>
                <td>{{data.costo}}</td>
                <td>
                    <a (click)="cargarDatos(data.id)" class="btn btn-success">
                        Edit
                      </a>
                    <a (click)="eliminar(data.id)" class="btn btn-danger">
                        Delete
                      </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>